{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Index des pages Admin
{% endblock %}

{% block h1 %}Index des pages Admin
{% endblock %}

{% block body %}

	<a class="btn btn-primary" href="{{ path('app_pages_admin_new') }}">Ajouter</a>

	<table class="table">
		<thead class="table-primary">
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Description</th>
				<th>Image</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for pages_admin in pages_admins %}
				<tr>
					<td>{{ pages_admin.id }}</td>
					<td>{{ pages_admin.Titre }}</td>
					<td>{{ pages_admin.Description | raw}}</td>				
			

					<td>
						<a class="btn btn-warning" href="{{ path('app_pages_admin_show', {'id': pages_admin.id}) }}">Fiche</a>
						<a class="btn btn-info" href="{{ path('app_pages_admin_edit', {'id': pages_admin.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucun résultat</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
