{% extends 'base.html.twig' %}

{% block title %}Pages Admin{% endblock %}

{% block body %}
    <h1>Pages Admin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pages_admin.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ pages_admin.Titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ pages_admin.Description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_pages_admin_index') }}">Retour</a>

    <a class="btn btn-info" href="{{ path('app_pages_admin_edit', {'id': pages_admin.id}) }}">Modifier</a>

    {{ include('pages_admin/_delete_form.html.twig') }}
{% endblock %}
